server:
  port: 10100
spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:10110
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=1
        - id: finance-service
          uri: http://localhost:10120
          predicates:
            - Path=/api/finance/**
          filters:
            - StripPrefix=1